{% extends "base.html" %}

{%load static%}
{% block title %}
  Home
{% endblock title %}
  
{% block style_css %}
<style>
  .main {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url("{% static 'images/dashboardimg.jpg' %}") no-repeat center center;
      background-size: cover;
      background-position: center;
      height: 90vh;
      width: 100%;
    }

</style>
{% endblock style_css %}

{% block content %}
<div class="main ">

</div>
<div class="container-fluid footer text-center  " style="position: fixed; bottom:0px;">
    <p style="margin: 0; font-weight: 600; color: #000;">
        © 2025. Powered by
        <img src="{% static 'images/crono.png' %}" alt="Chronoanalytics Logo" style="height: 20px;">
        <a href="http://www.chronoanalytics.in/" style="text-decoration: none;
            background: linear-gradient(to right, #2575fc, #6a11cb);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; font-size: 1.1rem;">Chronoanalytics Solution</a> All Rights Reserved.
    </p>
    <p style="font-weight: 600; color:#000;">
        Marketed by
        <img src="{% static 'images/TeimLogo.png' %}" alt="Teim Logo" style="height: 20px;">
        <a href="http://teim.in/" style="text-decoration: none;
            background: linear-gradient(to right, #2575fc, #6a11cb);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; font-size: 1.1rem;">TEIM</a> All Rights Reserved.
    </p>
</div>
{% endblock content %}
  