{% extends "base.html" %}
{%load static%}
 

{% block style_css %}
<style>
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
 
}

.footer p,
.footer span {
  margin: 0;
  font-weight: 600;
  color: #000;
  font-size: 14px;
}

.footer a {
  background: linear-gradient(to right, #2575fc, #6a11cb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.footer img {
  height: 20px;
  vertical-align: middle;
  margin: 0 4px;
}
</style>
{% endblock style_css %}

{% block content %}
<div class="container-fluid footer">
  <div class="row justify-content-center text-center">
    <div class="col-auto">
      <span>
        © 2025. Powered by
        <img src="{% static 'images/crono.png' %}" alt="Chronoanalytics Logo">
        <a href="http://www.chronoanalytics.in/" target="_blank">Chronoanalytics Solution</a>
        |
        Marketed by
        <img src="{% static 'images/TeimLogo.png' %}" alt="Teim Logo">
        <a href="http://teim.in/" target="_blank">TEIM</a>
      </span>
    </div>
  </div>
</div>
{% endblock content %}
