{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
       <!-- Footer -->
<div class="container-fluid footer text-center mt-5 shadow-top" >
    <p style="margin: 0; font-weight: 600; color: #000;">
        © 2025. Powered by
        <img src="{% static 'images/crono.png' %}" alt="Chronoanalytics Logo" style="height: 20px;">
        <a href="http://www.chronoanalytics.in/" style="text-decoration: none;
            background: linear-gradient(to right, #2575fc, #6a11cb);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; font-size: 1.1rem;">Chronoanalytics Solution</a> All Rights Reserved.
    </p>
    <p style="font-weight: 600; color:#000;">
        Marketed by
        <img src="{% static 'images/TeimLogo.png' %}" alt="Teim Logo" style="height: 20px;">
        <a href="http://teim.in/" style="text-decoration: none;
            background: linear-gradient(to right, #2575fc, #6a11cb);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; font-size: 1.1rem;">TEIM</a> All Rights Reserved.
    </p>
</div>
    </body>
</html>